.image-box { 
    text-align: center;
}

.ProgramLearn__title { 
    font-weight: 700;
    font-size: 3rem;                                                                     
    line-height: 140%;
    color: #fff;
    margin-top: 76px;
    text-align: center;
}

.center { 
    text-align: center;
}