.descr__box { 
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
    
}
.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #fff;
    opacity: 0.5;
}