.about {
    padding: 200px 0 200px 0;
}

.fast-start {
    padding: 200px 0 200px 0;
}


.profession {
    padding: 200px 0 200px 0;
}

.Partners { 
    padding: 200px 0 200px 0;
}

.ProgramLearn { 
    padding: 200px 0 200px 0;
}

.Teaches { 
    padding: 200px 0 200px 0;
}